.navbar {
  width: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 8vh;
  left: 50%;
  padding: 1rem 1rem;
  border-radius: 14px;
  background-color: black;
  transform: translateX(-50%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1000;
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar.visible {
  opacity: 1;
  pointer-events: auto;
}

.navbar.slide-up {
  transform: translate(-50%, 0);
}

.navbar.slide-down {
  transform: translate(-50%, 100%);
}
