.header-nav {
  height: max-content;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%);
  opacity: 0;
}

.header-nav.is-shown {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.nav-container-1 {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}

/* .nav-container-1 .home-1 {
  font-size: 1.2rem;
} */

.nav-container-1 h3{
  color: #fff;
  margin: 0;
}

.nav-container-2 {
  width: max-content;
  display: flex;
  column-gap: 30px;
}

.nav-container-2 h3 {
  color: #fff;
  margin: 0;
}

/* ----------------------------- */

.navbar {
  width: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 8vh;
  left: 50%;
  padding: 1rem 1rem;
  border-radius: 14px;
  background-color: black;
  transform: translateX(-50%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 1000;
}

.navbar.hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar.visible {
  opacity: 1;
  pointer-events: auto;
}

.navbar.slide-up {
  transform: translate(-50%, 0);
}

.navbar.slide-down {
  transform: translate(-50%, 100%);
}
