.word-looper {
    margin: auto;
  position: relative;
  width: max-content;
  height: 9rem;
  overflow: hidden;
  font-weight: 700;
  font-size: 6rem;
  line-height: 9rem;
  text-align: center;
}

.word-looper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  pointer-events: none;
}

.word-looper::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 2;
  pointer-events: none;
}

.word-looper__inner {
  display: flex;
  flex-direction: column;
}

.word-looper__item {
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.word-looper__dots {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.5rem; 
  position: absolute;
  bottom: -3rem;
  left: 0;
  right: 0;
}

.word-looper__dot {
  width: 0.5rem;
  height: 0.5rem; 
  border-radius: 9999px;
}

.word-looper__dot--active {
  background-color: #3b82f6;
}
.word-looper__dot--inactive {
  background-color: #d1d5db; 
}