body {
  overflow-x: hidden;
}

#smooth-wrapper {
  overflow: visible;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#smooth-content {
  overflow: visible;
  width: 100%;
}

.container {
  text-align: center;
}